.word-card {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  display: inline-block;
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back {
  display: none;
}
